html, body {
    margin: 0;
    background-color: #2F4F30;
    color: white;
}

.title {
    text-align: center;
    background-color: black;
    color: white;
    padding: 1.25rem;
    font-size: 1.5625rem
}

.carta {
    position: relative;
    width: 9.375rem;
    left: 100px;
    margin-left: -75px;
}

#computadora-cartas, jugador-cartas {
    hight: 240px;
}
